{% extends 'html/base.html'  %}

{% load i18n %}
{% block subtitle %}Анкета{% endblock %}

{% block extrahead %}
<script>
  $(document).ready(function () {
  $('.topbar').dropdown();
  });
</script>
{% endblock extrahead %}

{% block panel %}
<ul class="nav">
  <li><a href="/">Главная</a></li>
  <li class="active"><a href=".">Профиль</a></li>
  <!--<li><a href="/accounts/wall/">Стена задач.</a></li>-->
</ul>

<ul class="nav pull-right">
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
	<a href="/accounts/logout/">log out</a>
      </li>
      <li class="divider"></li>
    </ul>
  </li>
</ul>
{% endblock panel %}



<!-- Header -->

{% block header %}
<div class="inner">
  <div class="container">
    <h2>Это Вы</h2>
  </div>
</div>
{% endblock header %}

<!-- Content -->
{% block main_content %}
<div class="mini-layout fluid" style="height:auto; border:none;">
  <div class="mini-layout-body my_layout" style="width:22%;">
    <img class="avatar" src={% if user.contact.foto %}"/get-img/{{user.contact.foto}}"{% else %}"/media/img/default-avatar.gif"{% endif %}/>
    <div style="clear:both"></div>
    <p>Имя: {{user.contact.first_name}}</p>
    <p>E-mail: {{user.email}}</p>
    <a href="/accounts/edit">Изменить анкету</a>
  </div>
  <div class="mini-layout-body my_layout" style="width:60%">
    123
  </div>
</div>
{% endblock main_content %}
