{% extends 'html/base.html'  %}

{% load i18n %}
{% block subtitle %}Function is inactive{% endblock %}

{% block panel %}
<ul class="nav">
  <li><a href="/">Главная</a></li>
</ul>


{% endblock panel %}
    <!-- Header -->
  {% block header %}
      <div class="inner">
	<div class="container">
	  <h3>Function is inactive</h3>
	  <p>На данный момент функционал приостановлен.</p>
	</div>
      </div>
  {% endblock header %}
<!-- Content -->
  {% block main_content %}
  {% endblock main_content %}
