{% extends 'html/base.html'  %}

{% load i18n %}
{% block subtitle %}Подтверждение регистрации{% endblock %}

{% block extrahead %}
<script>
$(document).ready(function () {
$('.topbar').dropdown();
});
</script>
{% endblock extrahead %}

{% block panel %}
<ul class="nav">
  <li><a href="/">Главная</a></li>
  <li><a href="/accounts/">Профиль</a></li>
  <!--<li><a href="/accounts/wall/">Стена задач.</a></li>-->
</ul>

<ul class="nav pull-right">
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
	<a href="/accounts/logout/">log out</a>
      </li>
      <li class="divider"></li>
    </ul>
  </li>
</ul>
{% endblock panel %}
    <!-- Header -->
  {% block header %}
      <div class="inner">
	<div class="container">
	  <h3>Подтверждение регистрации прошло успешно</h3>
	</div>
      </div>
  {% endblock header %}
<!-- Content -->
  {% block main_content %}
  {% endblock main_content %}
